@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a new stylist</h1>
@using (Html.BeginForm())
{
  <div>
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
  </div>
  <div>
    @Html.LabelFor(model => model.YearsOfExperiance, "Years of Experiance")
    @Html.TextBoxFor(model => model.YearsOfExperiance, new {type="number", min="0"})
  </div>
  <input class="submit-button" type="submit" value="Add new Stylist" />
}
<div class="button-group">
  <p class="button margin-right">@Html.ActionLink("Show all Stylists", "Index")</p>
  <p class="button">@Html.ActionLink("Home", "Index", "Home")</p> 
</div>